.card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 220px;
  position: relative;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.08);
}
.img {
  border-radius: 8px 8px 0px 0px;
  align-self: stretch;
  flex-shrink: 0;
  height: 140px;
  position: relative;
}
.text {
  background:#ffffff;
  border-radius: 0px 0px 8px 8px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: #333333;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  align-self: stretch;
}
p {
  color:  #181a1f;
  text-align: center;
  font: 600 14px/22px "Poppins", sans-serif;
  position: relative;
}

.enlace {
  color: #D51946;
}